body {
    background: #4b5685;
}

.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.welcome {
    text-align: center;
}

.welcome h1 {
    color: #fff;
}

.choose-btn {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.login, .register {
    text-align: center;
}

.inner-input, .btn {
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}

.error {
    color: rgb(236, 55, 55);
    margin-bottom: 10px;
    font-weight: bold;
}

.btn-change {
    margin-bottom: 50px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    background: rgb(226, 96, 96);
    border: none;
    color: #fff;
    cursor: pointer;
}

.form-inner h2 {
    margin-bottom: 20px;
    color: #fff;
}

.btn {
    border: none;
    background: rgb(44, 37, 37);
    color: #fff;
    cursor: pointer;
}


form  h1{
    margin-bottom: 20px; 
}

.btn-out {
    margin-bottom: 50px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    background: rgb(226, 96, 96);
    border: none;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
}

.img-box {
    margin-top: 20px;
}

.img-box img {
    width: 400px;
    height: auto;
}